<?xml version="1.0" encoding="utf-8"?><checkstyle version="4.3"><file name="/Users/kennedy/Desktop/thekarmaworld/src/UserController.js"></file><file name="/Users/kennedy/Desktop/thekarmaworld/src/UserModel.js"></file><file name="/Users/kennedy/Desktop/thekarmaworld/src/UserStorage.js"></file><file name="/Users/kennedy/Desktop/thekarmaworld/src/UserTemplate.js"><error line="1" column="20" severity="error" message="Parsing error: Unexpected character &apos;`&apos;" source="" /></file><file name="/Users/kennedy/Desktop/thekarmaworld/src/UserView.js"></file><file name="/Users/kennedy/Desktop/thekarmaworld/spec/jqueryFixturesSpec.js"></file></checkstyle>